.body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 24px;

  background-color: black;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  font-size: 16px;
  line-height: 20px;
  background-color: #000000;
}

.navigation__logo {}

.navigation__site,
.navigation__user {
  list-style: none;
}

.navigation__link:hover,
.navigation__link:active {
  background-color: #242424;
}

.title--center {
  text-align: center;
}

.title {
  font-size: 30px;
  line-height: 42px;
}
.title--small {
  font-size: 24px;
  line-height: 30px;
}

.features__text {
  text-align: center;
}

.columns {
  background-color: #f8f5f2;
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-position: top center;

  width: 940px;
  margin: auto;

  color: #000000;
}



.news__time {
  text-transform: none;
}

.gallery__content {
  border: 7px solid #ffffff;
  background-color: darkgrey;
}

.button {
  background-color: #000000;
  color: white;
  width: 140px;
  height: 43px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;

  text-align: center;
  vertical-align: middle;

}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.appointment__input {
  font: inherit;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  border: 2px solid #000000;

}

.appointment__input:hover,
.appointment__input:focus,
.appointment__input:active {
  border-color: #663d15;
  outline: none;
}

.footer {
  background-color: #212121;
  background-image: url("/img/bg-dark.jpg");
  background-repeat: repeat;

}

.social {
  text-align: center;
}



.link--underline {
  text-decoration: underline;
}

.link--underline:hover,
.link--underline:focus,
.link--underline:active{
  text-decoration: none;
}

.button--white:hover,
.button--white:focus,
.button--white:active {
  background-color: #ffffff;
  color: #000000;
}

.copyright {
  text-align: center;
}

.modal {
  background-color: #f8f5f2;
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  color: #000000;
}



.link--black {
  color: #000000;
}

.modal__input {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.modal__input:hover,
.modal__input:focus,
.modal__input:active {
  border-color: #663d15;
}

.modal__remember:hover,
.modal__remember:focus {
  color: #663d15;
}

.modal__link:hover,
.modal__link:focus {
  text-decoration: none;
}

.modal__map--border{
  width: 780px;
  height: 560px;
  border: 7px solid #ffffff;
  position: relative;
  overflow:hidden;
}

.modal__map{
  position: absolute;
  transform: translate(-465px, -112px);
}

.inner{
 
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #f8f5f2;
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  
 
}

.breadcrumbs--current{
  color: #aba9a7;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus{
  text-decoration: underline;
}

.description--gray{
  color: #aeaeae;
  text-align: right;
}

.product--shadow{
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product__price{
  display: block;
  text-align: center;
  padding-top: 10px;
  background-color: #e5e5e5;
  width: 110px;
  height: 33px;
}

.filter__text{
  line-height: 18px;
}

.filter{
  border: none;
}

.filter__input:hover +.filter__text,
.filter__input:focus + .filter__text{
  color: #663d15;
}

.filter-input:disabled +.filter__text{
  color: #000000;

  opacity: 0.5;
}

.product__item{
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 220px;
}
.product__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product__text{
  font-size: 14px;
  line-height: 18px; 
}
.product__category{
  text-transform: none;
}

.button--small{
  width: 78px;
}

.title--big{
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;  
}

.services{
  border-collapse: collapse;
}
.services__item{
  border:1px solid #000000;
  width: 230px;
  height: 20px;
}

.services__item--center{
  text-align: center;
}
